.width {
  max-width: 1000px;
  margin: 0 auto;
}

.block {
  background: white;
  border-radius: 5px;
  box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.219);
  width: 200px;
  padding: 50px;
}

.btn {
   border-radius: 3px;
   border: none;
   background: #222;
   color: white;
   padding: 5px 10px;
   font-size: 15px;
   cursor: pointer;
   transition: all 0.3s;
}

.btn:hover {
  background: rgb(224, 224, 224);
  color: black;
}

.bg-dark {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsl(235, 21%, 11%);
}

.bg-light {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:hsl(236, 33%, 92%);
}