.todoBottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.listLength {
    color: rgba(128, 128, 128, 0.871);
}

@media all and (max-width: 900px) {
    .todoBottom {
        padding: 15px;
        font-size: 10px;
    }

 
}